<head>
    <script src="fabric.js"></script>
    <script src="style.css"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body onload="getDropDownData()">
    <button class='add-canvas' onclick="addCanvas()">1. Generate random canvases</button>
    <div id="select-insert">
        <select id='select-values'></select>
        <button class='insert-into-canvas' onclick="insertIntoCanvas()">1. Insert into canvas</button>
    </div>
    <div id='content' style="display: inline-flex;">
    </div>
    <script src="index.js"> </script>
</body